.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.footer__copyright {
  color: #212121;
  opacity: 70%;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
